{% extends "AppLibrary/padre.html" %} {% load static %}
{% block contenidoDinamico %}

<h1>Acerca de nosotros</h1>
<p>Somos una empresa dedicada al desarrollo de software.</p>
<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/0b6oT2lXTNA?si=Y9ITDsq9Nbv7jajt"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen
></iframe>

{% endblock %}
